.create-form {
  width: 100%;
  height: 100px;
}

.video-comments {
  font-family: Roboto; 
  margin: 10px; 
}

.create-form-1 {
  display: flex;
}

.comment-create-input-nuser {
  width: 1050px;
  height: 33px;
  margin-left: 15px;
  border-bottom: 2px solid black;
  background-color: rgb(242, 248, 248);
  margin-bottom: 40px;
  margin-top: 20px;
}

.comment-create-input {
  width: 98%;
  height: 20px;
  border-bottom: 2px solid gray;
  background-color: var(--secondary-bg-color);
  margin: 6px 0px 10px 4px;
  padding: 8px;
}

.comment-create-buttons {
  margin-right: 8px; 
}

.create-comment-button {
  display: flex; 
  flex-direction: column; 
  cursor: pointer;
  padding: 2px 10px; 
  background-color: var(--secondary-bg-color);
  color: white;
  text-align: center; 
  border-radius: 4px;
  font-size: 14px; 
  font-family: Roboto; 
  align-self: flex-end;  
} 

.create-comment-button:hover {
  transition: .5s; 
  color: gray;  
}

.main-comment-top {
  display: flex;
  margin-top: 20px;
}

.main-comment-name {
  font-weight: bold;
  font-family: Roboto;
  margin-right: 10px;
}

.main-comment-text {
  margin-top: 3px;
}

.main-comment-gif {
  z-index: 10;
  height: 200px;
  width: 200px;
}

.gif-popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gif-popup {
  display: flex; 
}

.gif-popup .giftext {
  visibility: hidden;
  /* width: 160px; */
  /* background-color: #065fd4;
  color: #fff; */
  text-align: center;
  border-radius: 6px;
  padding: 4px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.gif-popup .giftext::after {
  content: "";
  position: absolute;
  top: 99%;
  left: 18%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.gif-popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}



div > .sc-bwzfXH {
  height: 270px; 
  width: 420px;
  background: var(--secondary-bg-color);
}

.comment-create-btns {
  display: flex;
  justify-content: space-between; 
}

.giphy-reply {
  position: relative;
  left: 1125px;
  bottom: 140px;
}

.giphy-comment {
  position: relative;
  left: 1180px;
  bottom: 140px;
}

.comment-submit-form{
  width: 100%; 
  display: flex;
  flex-direction: column;
}

.comment-create-position {
  display: flex;
  margin-top: 15px;
  justify-content: space-between; 
}

.comment-create-avatar {
  height: 25px;
  width: 25px;
  border-radius: 12.5px;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}