:root{
  --main-bg-color: #1F1F1F;
  --secondary-bg-color: #272727;
  --main-font-color: #F0FFFF;
  --hover-text-color: #065FD4;
  --logout-display-text-color: #FFFFFF; 
  --logout-display-border-color: #4d4b50; 
}
body{
  color: var(--main-font-color);
  background-color: var(--main-bg-color);
}
.sidebar{
  background-color: var(--secondary-bg-color);
}