.search-results-container {
  display: flex;
  height: 200px;
  margin-right: 200px;
}

.video-detail-container {
  min-width: 300px;
  height: 100%;
}

.video-detail-info-container {
  flex-grow: 1;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}