.video-detail-player{
    width: 100% !important;
    height: 340px !important;
}

.video-title-detail {
    width: 100%;
    font-size: 16px; 
    font-family: Roboto; 
    padding: 14px 0px 14px 0px;
    /* border-bottom: gray;  */
}

.detail-left-col {
    width: 65%;
    min-width: 520px;
}

.mini-index {
    width: 25%; 
}   

.video-fav-detail {
    margin-left: 20px; 
}

.flex-grid {
  display: flex;
  margin: auto -1rem 1rem;
}

.video-info-detail {
    width: 100%; 
    display: flex; 
    justify-content: space-between;
    font-size: 12px; 
    font-family: Roboto; 
    border-bottom: 1px solid gray; 
    padding: 0px 0px 14px 0px;
    color: gray; 
    /* border-bottom: gray;  */
}

.video-description-body {
    font-weight: 200;
    font-family: Roboto; 
}

.video-detail-main {
    display: flex; 
}

.fav-heart {
    color: red; 
}

.video-description-detail {
    width: 100%; 
    font-size: 12px; 
    font-family: Roboto;
    border-bottom: 1px solid gray; 
    padding: 14px 0px 14px 0px;
}

.like-bar {
    display: flex; 
    justify-content: space-between;
}

.detail-comments-favs {
    display: flex; 
}

.container {
  width: 100wh;
  margin: auto;
  font-family: sans-serif;
  line-height: 1.5;
}

.flex-grid {
  display: flex;
  margin: auto -1rem 1rem;
}

.detail-main {
  background-color: var(--main-bg-color);
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  padding: 1rem;
  padding-left: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}




