.container {
  width: 100wh;
  margin: auto;
  font-family: sans-serif;
  line-height: 1.5;
}

.flex-grid {
  display: flex;
  margin: auto -1rem 1rem;
}

.sidebar {
  flex: 0.5;
  height: 85vh;
  background-color: lightgreen;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 1rem;
}

.main {
  flex: 3.5;
  background-color: lightcyan;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  padding: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: red;
}

.video-container {
  background-color: lightgray;
  width: 320px;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.video-player {
  width: 100% !important;
  height: 164px !important;
}

.video-info {
  display: block;
}

.video-title {
  margin: 5px;
  padding: 5px;
  font-size: 12px;
}
.video-title:hover {
  text-decoration: underline;
}
